**/node_modules
**/dist
**/coverage
**/logs
**/.cache
**/.next
**/.turbo
**/.DS_Store

node_modules
*.log
.git/
.gitignore
.env.local
.env*
!.env.example
docker-compose.yml
Dockerfile
*.pem
*.key
*.crt
